@model IEnumerable<Diplomka.Models.Order>

@{
    ViewData["Title"] = "Список заказов";
}

<!DOCTYPE html>

<html>
<head>
    <title>Заказы</title>
</head>

<body>
    <h2>Заказы</h2>
    @if (Diplomka.Controllers.AccountController.Role == "Заказчик")
    {
        <h5><a class="btn btn-primary mb-3" asp-action="Create"> Новый заказ</a></h5>

    }

    <table class="table table-bordered table-primary">
        <tr>
            <th>Id заказа</th>
            <th>Заказчик</th>
            <th>Вид лекарсв</th>
            <th>Количество(шт)</th>
            <th>Стоимость</th>
            <th>Дата доставки</th>
            @if (Diplomka.Controllers.AccountController.Role == "Администратор")
            {
                <th>Статус</th>
            }
            
           
            

        </tr>
        @foreach (Order order in Model)
        {
            <tr bgcolor="#FFFFFF">
                <td>@order.OrderID</td>
                <td>@order.Factory.Name</td>
                <td>@order.Grain.Name</td>
                <td>@order.Volume</td>
                <td>@order.Price</td>
                <td>@order.DeliveryDate</td>
                @if (Diplomka.Controllers.AccountController.Role == "Администратор")
                {
                    @if(@order.status == false)
                    {
                        <td><a class="btn btn-outline-success mb-3" asp-action="AdminStatus" asp-route-OrderID="@order.OrderID">Принято</a></td>
                    }
                    else
                    {
                        <td><span class="btn btn-success disabled mb-3">Выполнено </span></td>
                    }
                }
             
                @if (Diplomka.Controllers.AccountController.Role == "Заказчик")
                {
                    <td><a class="btn btn-info mb-3" asp-action="Delete" asp-controller="Order" asp-route-id="@order.OrderID">Отменить</a></td>
                    <td><a class="btn btn-warning mb-3" asp-action="Edit" asp-controller="Order" asp-route-id="@order.OrderID">Изменить</a></td>
                }

              
            </tr>
        }
    </table>
</body>
</html>