@model IEnumerable<Diplomka.Models.Car>
@{
    ViewData["Title"] = "Список машин";
}

<!DOCTYPE html>

<html>
<head>
    <title>Машины</title>
</head>

<body>
    <h2>Машины</h2>

    @if (Diplomka.Controllers.AccountController.Role=="Администратор")
    {
        <h5><a class="btn btn-primary mb-3" asp-action="CreateCar"> Новая машина</a></h5>
    }

    <table class="table table-bordered table-primary">
        <tr>
            <th>Id машины</th>
            <th>Название</th>
            <th>ГОС номер</th>     
              
            <th>Автобаза</th>   
            <th></th>
            <th></th>

        </tr>
        @foreach (Car car in Model)
        {
            <tr bgcolor = "#FFFFFF">
                <td>@car.CarID</td>
                <td>@car.Name</td>
                <td>@car.PlateNumber</td>  
                     
                <td>@car.Depot.Name</td>       
                @if (Diplomka.Controllers.AccountController.Role=="Администратор")
                {
                    <td><a class="btn btn-info mb-3" asp-action="EditCar" asp-controller="Depot" asp-route-id="@car.CarID">Изменить</a></td>
                    <td><a class="btn btn-warning mb-3" asp-action="DeleteCar" asp-controller="Depot" asp-route-id="@car.CarID">Удалить</a></td>
                }                  
            </tr>
        }   
       
    </table>
    </br>
    </br>
    <a asp-action="Depots" class="btn btn-primary"> Назад</a>
</body>
</html>
